In [91]:
import yfinance as yf
import pandas as pd
import numpy as np
from pandas import json_normalize
import requests 
import warnings
warnings.filterwarnings('ignore')

# FALTA:

- Pegar todas as ações, não somente Ibov
- Pegar ações de índices internacionais
- Ver se ações com beta maior que 1 performam melhor que o Ibov de fato (redundante dependendo..)
- Comparar ações que quebraram e relação com beta

### Getting all stocks from IBOV, straight from B3

In [92]:

url = 'https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJpbmRleCI6IklCT1YiLCJsYW5ndWFnZSI6InB0LWJyIn0='
# lendo conteúdo json da url
r = requests.get(url)
b3 = json_normalize(r.json(), 'results')['cod'].tolist()
# acrescentando ".SA" ao final de cada ticker
b3_tickers = [ticker + '.SA' for ticker in b3]
# adding ^BVSP (Ibovespa) to the list
b3_tickers.append('^BVSP')
b3_tickers

['RRRP3.SA',
 'ALSO3.SA',
 'ALPA4.SA',
 'ABEV3.SA',
 'ARZZ3.SA',
 'ASAI3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BPAN4.SA',
 'BBSE3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BRAP4.SA',
 'BBAS3.SA',
 'BRKM5.SA',
 'BRFS3.SA',
 'BPAC11.SA',
 'CRFB3.SA',
 'CCRO3.SA',
 'CMIG4.SA',
 'CIEL3.SA',
 'COGN3.SA',
 'CPLE6.SA',
 'CSAN3.SA',
 'CPFE3.SA',
 'CMIN3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'DXCO3.SA',
 'ECOR3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENBR3.SA',
 'ENGI11.SA',
 'ENEV3.SA',
 'EGIE3.SA',
 'EQTL3.SA',
 'EZTC3.SA',
 'FLRY3.SA',
 'GGBR4.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'NTCO3.SA',
 'SOMA3.SA',
 'HAPV3.SA',
 'HYPE3.SA',
 'IGTI11.SA',
 'ITSA4.SA',
 'ITUB4.SA',
 'JBSS3.SA',
 'KLBN11.SA',
 'RENT3.SA',
 'LWSA3.SA',
 'LREN3.SA',
 'MGLU3.SA',
 'MRFG3.SA',
 'CASH3.SA',
 'BEEF3.SA',
 'MRVE3.SA',
 'MULT3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'PRIO3.SA',
 'PETZ3.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIZ4.SA',
 'RDOR3.SA',
 'RAIL3.SA',
 'SBSP3.SA',
 'SANB11.SA',
 'SMTO3.SA',
 'CSNA3.SA',
 'SLCE3.SA',
 'SUZB3.SA',
 'TAEE11.SA',
 'VIVT3.SA',
 'TIMS3.SA',
 'TOTS3.SA',
 'UGPA3.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VIIA3.SA',
 'VBBR3.SA',
 'WEGE3.SA',
 'YDUQ3.SA',
 '^BVSP']

### Downloading all tickers using yfinance

In [93]:
all = yf.download(b3_tickers)['Adj Close'].reset_index().rename(columns={'^BVSP':'IBOV'})
all.columns = [ticker.replace('.SA', '') for ticker in all.columns]
all

[*********************100%***********************]  89 of 89 completed

,Date,ABEV3,ALPA4,ALSO3,ARZZ3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,...,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3,IBOV
0,1993-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.500000
1,1993-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.299999
2,1993-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.700001
3,1993-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.100000
4,1993-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7505,2023-04-14,14.65,7.59,18.620001,67.860001,13.22,11.57,11.97,43.430000,12.40,...,26.750000,14.81,7.53,78.809998,13.80,1.99,40.439999,38.759998,8.16,106279.000000
7506,2023-04-17,14.75,7.46,18.480000,67.779999,13.27,11.39,12.02,43.529999,12.38,...,27.120001,14.46,7.54,77.870003,13.81,1.97,40.849998,39.480000,8.14,106016.000000
7507,2023-04-18,14.63,7.24,18.340000,67.169998,13.16,11.12,11.89,43.610001,12.32,...,26.450001,14.58,7.61,78.540001,13.42,1.93,40.830002,39.270000,7.92,106163.000000
7508,2023-04-19,14.58,7.03,18.100000,64.230003,12.89,10.70,11.59,43.099998,12.08,...,25.549999,14.50,7.45,76.250000,13.04,1.80,40.689999,39.110001,7.36,103913.000000
7509,2023-04-20,14.60,7.15,18.400000,66.089996,13.00,10.72,11.66,43.509998,12.22,...,25.670000,14.36,7.18,74.660004,13.33,1.82,40.779999,40.250000,7.63,104367.000000

### Calculating Returns

In [94]:
returns = all.copy()
returns.iloc[:, 1:] = all.iloc[:, 1:].pct_change() # pct returns from all columns except de date
returns

,Date,ABEV3,ALPA4,ALSO3,ARZZ3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,...,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3,IBOV
0,1993-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.008163
2,1993-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.024691
3,1993-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016878
4,1993-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7505,2023-04-14,0.004112,-0.051250,-0.000537,-0.014665,-0.038545,-0.033417,0.019591,0.017096,0.000807,...,0.002624,0.005431,-0.015686,-0.008804,-0.017794,-0.029268,0.002418,-0.015494,-0.014493,-0.001681
7506,2023-04-17,0.006826,-0.017128,-0.007519,-0.001179,0.003782,-0.015557,0.004177,0.002303,-0.001613,...,0.013832,-0.023633,0.001328,-0.011927,0.000725,-0.010050,0.010138,0.018576,-0.002451,-0.002475
7507,2023-04-18,-0.008136,-0.029491,-0.007576,-0.009000,-0.008289,-0.023705,-0.010815,0.001838,-0.004847,...,-0.024705,0.008299,0.009284,0.008604,-0.028240,-0.020305,-0.000490,-0.005319,-0.027027,0.001387
7508,2023-04-19,-0.003418,-0.029005,-0.013086,-0.043769,-0.020517,-0.037770,-0.025231,-0.011695,-0.019481,...,-0.034027,-0.005487,-0.021025,-0.029157,-0.028316,-0.067358,-0.003429,-0.004074,-0.070707,-0.021194
7509,2023-04-20,0.001372,0.017070,0.016575,0.028958,0.008534,0.001869,0.006040,0.009513,0.011589,...,0.004697,-0.009655,-0.036242,-0.020852,0.022239,0.011111,0.002212,0.029149,0.036685,0.004369

### Calculating Beta

In [95]:
# Calculating beta from all stocks in "all", using the column "IBOV" as the market
# beta = cov(stock, market) / var(market)

all_beta = pd.DataFrame()

# Iterating trough all columns, except the first and the last one (date and IBOV)
for ticker in all.columns[1:-1]:
    # Dropping NaN values from the current ticker and IBOV (so the stock gets the same number of rows as the market)
    current_ticker = returns[[ticker, 'IBOV']].dropna(subset=ticker)
    # Calculating beta and appending to the dataframe
    all_beta = all_beta.append([[ticker, current_ticker[ticker].cov(current_ticker['IBOV']) / current_ticker['IBOV'].var()]], ignore_index=True)

all_beta.columns = ['Ticker', 'Beta'] # Renaming column names
# Classifying beta
all_beta['type'] = np.select([all_beta['Beta'] <= 0.8, all_beta['Beta'] >= 1.2], ['Defensive', 'Aggressive'], default='Neutral')

all_beta

   Ticker      Beta       type
0   ABEV3  0.471959  Defensive
1   ALPA4  0.623841  Defensive
2   ALSO3  0.732588  Defensive
3   ARZZ3  0.803395    Neutral
4   ASAI3  0.708236  Defensive
..    ...       ...        ...
83  VBBR3  1.098716    Neutral
84  VIIA3  0.420351  Defensive
85  VIVT3  0.471028  Defensive
86  WEGE3  0.412621  Defensive
87  YDUQ3  0.790338  Defensive

[88 rows x 3 columns]

In [96]:
# calculating the beta of each stock in the IBVSP Index
# beta = covariance (stock, market) / variance (market)
# covariance (stock, market) = correlation (stock, market) * standard deviation (stock) * standard deviation (market)
# variance (market) = standard deviation (market) ** 2
# beta = correlation (stock, market) * standard deviation (stock) / standard deviation (market)

##### Classificar ações da carteira t3 (tendência, trade e trade de curto prazo)